h3 {
    margin-top: -2.5rem !important
}

div[class*="language-"] {
    margin-top:1rem;
    margin-bottom:2rem;
    background-color: #36444B;
}

p {
margin-top: 1.5rem;
}

.alert {
   margin-top: 1.5rem;
   border-left: 4px solid transparent;
   padding: 1rem 1.5rem;
   line-height: 1.8;
}

.alert--info {
   border-color: #2b79c1;
   background-color: #eff3f6;
   color: #2b79c1;
}

.alert--danger {
   border-color: #c14544;
   background-color: #f9e9ea;
   color: #c14544;
}

.alert--success {
   border-color: #55ad72;
   background-color: #e6f3ef;
   color: #55ad72;
}